<H1 align="center">All Articles</H1>

<div class="pagination justify-content-center"">
    <%= will_paginate %>
</div>

<%= render 'article', obj: @articles %>

<div class="pagination justify-content-center"">
    <%= will_paginate %>
</div>