
<!DOCTYPE html>
<html>

    <head>
        <title>testApp</title>
    </head>
  
    <body>
        
        <h1>Homepage of webpage</h1>    
            
        <%= link_to 'About', pages_about_path %>
            
    </body>  
</html>


