$navbar-default-bg: #4b38ff;

@import "bootstrap"; 

.center {
    text-align: center;
}

/* navigation bar */
nav {
    margin-bottom: 20px;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

/* footer */
.footer {
    /* position: absolute; */
    bottom: 0;
    width: 80%;
    max-width: 1100px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    color: 777;
    font-size: 0.8em;
}

.footer small {
    float: left;   
}

.footer ul {
    float: right;
    list-style: none;
    margin-left: 15px;
}

.footer a:hover {
    color: 777;
}

/* homepage */
.jumbotron {
    background-image: asset-url('beach_tent_city.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    max-height: 95%;
}

.jumbotron h1 {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.jumbotron p{
    color: #fff;
    text-align: center;
}

#sign-up {
    position:relative; 
    float:center;
    vertical-align: center;
    margin-top: 50px;
}

/* articles */
.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    
}

.article-meta-details {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-actions {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

/* categories */
.category-listing {
    margin-bottom: 20px;
    text-align: center;
}

/* users */
.user-listing {
    padding-top: 10px;
    list-style: none;
    text-align: center;
}

.user-actions {
    margin-top: 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}