<h1 align="center">All categories</h1>

<div class="pagination justify-content-center">
    <%= will_paginate %>
</div>

<% @categories.each_slice(2) do |category1, category2| %>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <%= render 'category_badge', category: category1 %>    
        </div>
        
        <% if category2 %>
            <div class="col-md-3">
                <%= render 'category_badge', category: category2 %>   
            </div>
        <% end %>
    </div>
<% end %>

<div class="pagination justify-content-center">
    <%= will_paginate %>
</div>