<h1 align="center">All categories</h1>

<% @categories.each do |category| %>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light category-listing">
                <div class="card-body">
                    <strong><%= link_to "#{category.name}", category_path(category) %></strong>
                </div>
            </div>    
        </div>
        
    </div>
<% end %>